@font-face {
    font-family: FreeSans;
    src: url(../../../utils/fonts/FreeSans.ttf);
}

*{
    text-align: center;
    background-color: orange;
    font-family: FreeSans;
    color: black;
}

.all{
    height: 25px;
    text-align: center;
    padding: 40px;
}

.box{
    border: 2px solid orange;
    display: inline-block;
    padding: 4px;
    width: 80%;
}

.search{
    width: 70%;
    padding: 4px;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
}

.button{
    background: royalblue;
    border: none;
    color: #fff;
    margin: 20px;
    padding: 12px;
    border-radius: 20px 20px 20px 20px;
}